[submodule "src/ros_roar_streamer"]
	path = src/ros_roar_streamer
	url = https://github.com/amansrf/ros_roar_streamer.git
	branch = ros2-foxy
[submodule "src/roar_bot_description"]
	path = src/roar_bot_description
	url = https://github.com/amansrf/roar_bot_description.git
[submodule "src/roar_transforms"]
	path = src/roar_transforms
	url = https://github.com/amansrf/roar_transforms.git
[submodule "src/deep_sort_ros2"]
	path = src/deep_sort_ros2
	url = https://github.com/wuxiaohua1011/deep_sort_ros2
[submodule "src/cone_detector_ros2"]
	path = src/cone_detector_ros2
	url = https://github.com/wuxiaohua1011/cone_detector_ros2
[submodule "src/roar_carla_ros2"]
	path = src/roar_carla_ros2
	url = https://github.com/wuxiaohua1011/roar_carla_ros2
