[submodule "src/ros_roar_streamer"]
	path = src/ros_roar_streamer
	url = https://github.com/amansrf/ros_roar_streamer.git
	branch = ros2-foxy
[submodule "src/roar_bot_description"]
	path = src/roar_bot_description
	url = https://github.com/amansrf/roar_bot_description.git
[submodule "src/roar_transforms"]
	path = src/roar_transforms
	url = https://github.com/amansrf/roar_transforms.git
[submodule "src/roar_carla_ros2"]
	path = src/roar_carla_ros2
	url = https://github.com/wuxiaohua1011/roar_carla_ros2
[submodule "src/roar_ground_plane_detector"]
	path = src/roar_ground_plane_detector
	url = https://github.com/wuxiaohua1011/roar_ground_plane_detector
[submodule "src/roar_waypoint"]
	path = src/roar_waypoint
	url = https://github.com/wuxiaohua1011/roar_waypoint
[submodule "src/lane_to_bev_roar"]
	path = src/lane_to_bev_roar
	url = https://github.com/amansrf/lane_to_bev_roar.git
